body {
  background-color: rgb(165, 182, 199);
  font-family: 'Montserrat', sans-serif;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: rgb(67, 67, 67);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 300px;
  border: 5px solid rgba(152, 152, 152, 0.5);
  border-radius: 5px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* .audio {
  display: none;
  padding-top: 100px;
  background-color: rgb(152, 110, 110);
} */

.tunerInfo {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px;
  padding-top: 25px;
  font-size: small;
  font-weight: bolder;
  border-radius: 5px;
  background-color: rgb(110, 122, 152);
}
.tuneNote {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 50px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: rgb(110, 122, 152);
}

.animate {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 100px;
  /* border-style: dotted;
  border-color: rgb(255, 255, 255); */
}

.triangle-up {
  position: relative;
  width: 6px; /* Adjust width to your preference */
  height: 150px; /* Adjust height to your preference */
  background-color: rgb(255, 139, 139); /* Color of the needle */
  border-radius: 3px; /* Makes the edges rounded */
  transform-origin: 50% 100%; /* Pivot at the bottom */
}

.triangle-up::before {
  content: '';
  position: absolute;
  bottom: 100%; /* Position right above the rectangle part */
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent; /* Should match the width of the rectangle */
  border-right: 6px solid transparent; /* Should match the width of the rectangle */
  border-bottom: 12px solid rgb(255, 139, 139); /* Creates the triangle, adjust color to match the rectangle */
  transform: translateX(-50%); /* Centers the triangle */
}

.triangle-up.green {
  background-color: rgb(125, 213, 125);
}

.triangle-up.green::before {
  border-bottom: 12px solid rgb(125, 213, 125);
}

.tuner-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding-top: 25px;
  font-size: small;
  font-weight: bolder;
  border-radius: 150px 150px 5px 5px;
  background-color: rgb(110, 122, 152);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

// .button {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 6px 14px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
//   border-radius: 6px;
//   border: none;
//   background: #6e6d70;
//   box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
//     0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
//   color: #dfdedf;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button:focus {
//   box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1),
//     0px 0px 0px 3.5px rgba(28, 28, 28, 0.5);
//   outline: 0;
// }

.audio-bars {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: 35px;
}

.bar {
  background-color: black;
  height: 20px;
  width: 20%;
  border-radius: 3px;
  transform-origin: bottom;
}

.audio-bars.animating .bar {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
}

.tuner-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tuner {
  position: relative;
  width: 300px;
  height: 500px;
  // background: black;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: rotateX(30deg);
  margin: 20px 0;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 255px;
  height: 400px;
  background: white;
  border: 3px solid black;
  border-radius: 5px;
}

.footswitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 60px; // Adjust width to your preference
  height: 60px; // Adjust height to your preference
  background: linear-gradient(to bottom, #ddd, #bbb);
  border: 3px solid #000000;
  border-radius: 30px;
  transform: translateX(-50%) rotateX(-45deg);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px #666;

  &:hover {
    background: linear-gradient(to bottom, #eee, #ccc);
  }

  &:active,
  &.pressed {
    transform: translateX(-50%) rotateX(-45deg) translateY(4px);
    box-shadow: 0 1px #666;
  }
}

.button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.displayNote {
  font-size: 75px;
}

.tuner-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
